POKEMON_ZONE_URL=http://localhost:3001
BERRIES_ZONE_URL=http://localhost:3002

SHELL_ORIGIN=http://localhost:3000

DATABASE_URL=postgresql://USER:PASSWORD@ep-xxxx-pooler.REGION.aws.neon.tech/DBNAME?sslmode=require

POKEAPI_BASE_URL=https://pokeapi.co/api/v2
